$dark-success: darken($brand-success, 15%);

.acme-navbar-text{
  color: white;
}
acme-navbar .navbar {
  margin-bottom: 0;
}
.navbar-inverse .navbar-brand {
  color: #fff;
  padding-left: 1em;
}
.navbar-inverse .navbar-nav > li > a {
  color: $brand-success;
}

a {
  color: black;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}
